<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Book App</h1>
    <!-- Add your search form or content here -->
     <!-- use post method to send inside body
        use get method to send insdiet the paramyers -->
    <form action="/search" method="post">
        <input type="text" name="query" placeholder="Search for books...">
        <button type="submit">Search</button>
    </form>

    <% for (let i = 0; i < books.length; i++) {  %>
        <h1>
            <%= books[i].name %>
        </h1>
        <h1>
            <%= books[i].author %>
        </h1>
        
    <% } %>
    

    
</body>
</html>
